/* Make the site title larger */
header h1 a {
  font-size: 1.8em !important;
}

/* Make the description of the site larger */
header p:nth-of-type(1) {
  font-size: 1.8em !important;
}

/* Make the titles and paragraphs of the read.me larger */

.section-title {
  font-size: 1.5em !important;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 1.3em;
}

.section-subtitle {
  font-size: 1.3em !important;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 1.3em;
}

.section-desc {
  font-size: 1.1em;
  line-height: 1.2;
  margin-bottom: 1.2em;
}

/*Adjust margins */
.wrapper {
  max-width: 98vw !important;   /* Nearly full viewport width */
  width: 98vw !important;
  margin-left: 1vw !important;
  margin-right: 1vw !important;
  /* Or for truly full width, use 100vw and 0 for margins */
  /* max-width: 100vw !important;
     width: 100vw !important;
     margin: 0 !important; */
}

section {
  float: none !important;
  margin: 0 auto !important;
  max-width: 900px !important;  /* or any width you like */
  width: 80vw !important;
  padding: 0 2vw;
  display: block !important;
}
