/* Make the site title larger */
header h1 a {
  font-size: 1.8em !important;
}

header p:nth-of-type(1) {
  font-size: 1.8em !important;
}

.section-desc {
  font-size: 1.0em;
  line-height: 1.0;
  margin-bottom: 1.0em;
}
